#!/usr/bin/make -f

%:
	dh ${@} --with quilt

DATE=$(shell date +%Y%m%d)

upstream:
	# Needs: git-core

	cd .. && \
	git clone --depth 1 git://git.savannah.gnu.org/gnulib.git  gnulib-$(DATE)
	( \
	    BUILDDIR="`pwd`" && \
	    cd ../gnulib-$(DATE) && \
	    VER=`git log -1 --pretty=%h` && \
	    cd .. && \
	    mv gnulib-$(DATE) gnulib-$(DATE)+$$VER && \
	    cd "$$BUILDDIR" && \
	    dch -p -v "$(DATE)+$$VER-1" "New upstream snapshot $(DATE)+$$VER." && \
	    rm -rf ../gnulib-$(DATE)+$$VER/.git ../gnulib-$(DATE)+$$VER/.gitattributes && \
	    find ../gnulib-$(DATE)+$$VER -name .cvsignore | xargs rm -f && \
	    find ../gnulib-$(DATE)+$$VER -name .gitignore | xargs rm -f && \
	    cd .. && \
	    tar cfz gnulib_$(DATE)+$$VER.orig.tar.gz gnulib-$(DATE)+$$VER \
	)

override_dh_auto_clean:
	$(MAKE) -C doc clean

override_dh_auto_build:
	$(MAKE) -C doc info
	$(MAKE) -C doc html

override_dh_auto_install:
	mkdir -p debian/gnulib/usr/bin
	cp -a check-module gnulib-tool debian/gnulib/usr/bin

	mkdir -p debian/gnulib/usr/share/gnulib
	cp -a build-aux config doc lib m4 modules tests debian/gnulib/usr/share/gnulib

	# Fixing permissions
	chmod 0755 debian/gnulib/usr/share/gnulib/build-aux/config.guess
	chmod 0755 debian/gnulib/usr/share/gnulib/build-aux/config.sub
	chmod 0755 debian/gnulib/usr/share/gnulib/build-aux/gendocs.sh
	chmod 0644 debian/gnulib/usr/share/gnulib/doc/gendocs_template
	chmod 0644 debian/gnulib/usr/share/gnulib/lib/fflush.c
	chmod 0644 debian/gnulib/usr/share/gnulib/m4/canonicalize-lgpl.m4
	chmod 0644 debian/gnulib/usr/share/gnulib/m4/fflush.m4
	chmod 0644 debian/gnulib/usr/share/gnulib/modules/canonicalize-lgpl
	chmod 0644 debian/gnulib/usr/share/gnulib/modules/fflush
	chmod 0644 debian/gnulib/usr/share/gnulib/modules/fflush-tests
	chmod 0644 debian/gnulib/usr/share/gnulib/tests/test-base64.c
	chmod 0755 debian/gnulib/usr/share/gnulib/tests/test-closein.sh
	chmod 0644 debian/gnulib/usr/share/gnulib/tests/test-fflush.c

	# Removing unused files
	rm -f debian/gnulib/usr/share/gnulib/modules/COPYING
	rm -f debian/gnulib/usr/share/gnulib/*/.cvsignore
	rm -f debian/gnulib/usr/share/gnulib/*/.gitignore
